<template> 

<div class="container">
    
<v-parallax
    dark
    src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg"
  >
    <v-row
      align="center"
      justify="center"
    >
      <v-col
        class="text-center"
        cols="12"
      >

<img src="../static/cordiste.png">
   

        <h1 class="display-1 font-weight-thin mb-4">
          AFFAIRE A SUIVRE
        </h1>
        <h4 class="subheading">
          TRAVAUX EN HAUTEUR
        </h4>
      </v-col>
    </v-row>
  </v-parallax>

 
    <img src="../static/cordiste.png">
    <h2>Hello World.</h2>
    <p>
      <NuxtLink to="/about">
        About
      </NuxtLink>
    </p>
  </div>
</template>

<style scoped>
.container {
  font-family: sans-serif;
  margin-top: 200px;
  text-align: center;
}
</style>